@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins-Medium/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.eot');
    src: url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.ttf') format('truetype'),
        url('../fonts/Poppins-ExtraBold/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

