/*Base classes */
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.clear{
	clear: both;
}
.margin-left{
	margin-left: 214px;
}
/*section 1*/
.line1{
	width: 1088px;
	margin: 0 auto;
}
.box-1{
	width: 536px;
	background-color: #F8F8F8;
	margin-bottom: 16px;
}
.box-2{
	width: 536px;
	background-color: #F8F8F8;
}
.sect1-img-box{
	margin-right: 16px;
}
.line2{
	width: 1088px;
	margin: 0 auto;
}
.text-box{
	width: 260px;
	margin-top: 37px;
}
/*section 2*/
.section2-line1{
	width: 1088px;
	margin: 0 auto;
}
.section-2-box-1{
	width: 352px;
	background-color: #F8F8F8;
}
.section-2-box-2{
	width: 352px;
	background-color: #F8F8F8;
	margin-right: 16px;
	margin-left: 16px;
}
.section-2-box-3{
	width: 352px;
	background-color: #F8F8F8;
}
.sect2-text-box{
	height: 148px;
	width: 260px; 
	margin: 0 auto;
	text-align: center;
}
.section2-line2{
	width: 1088px;
	margin: 0 auto;
	margin-top: 16px;
	margin-bottom: 87px;
}
/*finishing styles and fonts*/
.text-blue{
	font-size: 14px;
	color: #5863F8;
	font-family: 'Poppins-Bold';
}
.biggest-title{
	font-size: 42px;
	font-family: 'Poppins-ExtraBold';
	margin-top:1px ;
	margin-bottom:54px ;
}
.text-black{
	font-size: 18px;
	font-family: 'Poppins-SemiBold';
}
.text-grey{
	color: #B1B1B1;
	font-size: 14px;
	font-family: 'Poppins-Medium';
}
.first-title{
	margin-top: 80px;
}
.blog-title{
	margin-top: 90px ;
}